.Home{
    margin-left: 220px;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: 'Lora';
    font-size: 22px;
}

.introducao{
    margin-top: 100px;
    text-align: left;
    font-weight: 400;
    display: inline-block;
}

.introducao h1{
    font-family: 'Vidaloka';
    font-size: 72px;
    line-height: 75px;
}

.introducao p{
    font-family: 'Lora';
    font-size: 24px;
    line-height: 36px;
    max-width: 400px;
}

.btn-padrao{
    border-radius: 10px;
    background-color: #FFCB7C;
    text-transform: uppercase;
    border-style: none;
}

.introducao .btn-padrao{
    border-style: none;
    width: 234.79px;
    height: 60px;
    text-align: center;
}

.introducao img{
    display: inline-block;
    margin-left: 250px;
    text-align: right;
}

.como-usar{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 95px;
    background-color: rgba(255, 203, 124, 0.13);
    position: relative;
}

.cards{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.como-usar h1{
    padding-top: 43px;
    margin-left: 220px;
    font-family: 'Vidaloka';
    font-size: 48px;
    line-height: 75px;
    text-align: left;
    color: #000;
}

.grid-1{
    width: 276.82px;
    display: inline-block;
    margin-right: 2px;
}


.meta h1{
    text-align: left;
    font-family: 'Vidaloka';
    font-size: 36px;
    line-height: 75px;
}

.meta p{
    font-family: 'Lora';
    font-size: 24px;
    line-height: 36px;
    max-width: 400px;
    font-weight: 400;
}

.meta .btn-padrao{
    text-align: center;
    margin-top: 40px;
    margin-left: 50px;
    width: 279.24px;
    height: 60px;
}

.meta > .side-right> .btn-padrao{
    background-color: aqua;
    width: 150px;
    text-align: center;
}


.side-right{
    display:inline-block;
    text-align: right;
}

.side-left{
    display:inline-block;
    
    text-align: left;
}

.MetaImg{
    padding-left: 90px;
    padding-bottom: 100px;
} 
