.cotacao{
    background: #FFE6C1;
    border-radius: 10px;
    width: 749px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.cot-left{
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.cot-right{
    padding-left: 150px;
    text-align: right;
    display: inline-flex;
    flex-direction: column;
    line-height: 3px;
    justify-content: space-between;
}

.cot-left  h1{
    font-family: Lora;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.cot-right p{
    color: #CFBB9D
}

.menu{
    text-align: left;
}

.ImgCotacao{
    position: fixed;
    bottom: 0;
    margin-left: 78%;
}
