main{
    margin-top: 90px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
}

.NotFound h1{
    font-family: 'Vidaloka';
}

.NotFound p{
    font-family: 'Lora';
}

.NotFound a{
    text-decoration: none;
    text-align: center;
    font-family: 'Lora';
    font-size: 22px;
    color: #000;
}

.NotFound button{
    border: #FFCB7C;
    width: 8em;
    height: 3em;
    border-radius: 10px;
    background-color: #FFCB7C;
    margin-bottom: 200px;
}